<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['managePostgraduateProgram.title.create']}" rendered="#{(! managePostgraduateProgramController.readOnly) and (managePostgraduateProgramController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgram.title.update']}" rendered="#{(! managePostgraduateProgramController.readOnly) and (managePostgraduateProgramController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgram.title.retrieve']}" rendered="#{managePostgraduateProgramController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['managePostgraduateProgram.title.create.description']}" rendered="#{(! managePostgraduateProgramController.readOnly) and (managePostgraduateProgramController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgram.title.update.description']}" rendered="#{(! managePostgraduateProgramController.readOnly) and (managePostgraduateProgramController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgram.title.retrieve.description']}" rendered="#{managePostgraduateProgramController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['managePostgraduateProgram.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the PostgraduateProgram. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['managePostgraduateProgram.form.title']}" />
			<p:focus />
			
			<!-- Field: name. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateProgram.field.name']}" />
				<p:inputText id="name"
					value="#{managePostgraduateProgramController.selectedEntity.name}"
					required="true"
					disabled="#{managePostgraduateProgramController.readOnly}">
				</p:inputText>
			</ui:decorate>
			
			<!-- Field: faculty.-->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="faculty" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateProgram.field.faculty']}" />
				<p:autoComplete
					id="faculty"
					value="#{managePostgraduateProgramController.selectedFaculty}"
					completeMethod="#{managePostgraduateProgramController.completeFaculty}"
					var="faculty"
					itemLabel="#{faculty.name}"
					itemValue="#{faculty}"
					converter="#{managePostgraduateProgramController.facultyConverter}"
					forceSelection="true"
					disabled="#{managePostgraduateProgramController.readOnly}">
					<p:column>
						<h:outputText value="#{faculty.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! managePostgraduateProgramController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{managePostgraduateProgramController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{managePostgraduateProgramController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{managePostgraduateProgramController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{managePostgraduateProgramController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>