<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank">
		<p:panelGrid columns="4" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-1,ui-grid-col-1" layout="grid" styleClass="ui-panelgrid-blank">
			<ui:insert></ui:insert>
		</p:panelGrid>
	</p:panelGrid>
</ui:composition>