<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseSecretary.title.create']}" rendered="#{(! manageUndergraduateCourseSecretaryController.readOnly) and (manageUndergraduateCourseSecretaryController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseSecretary.title.update']}" rendered="#{(! manageUndergraduateCourseSecretaryController.readOnly) and (manageUndergraduateCourseSecretaryController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseSecretary.title.retrieve']}" rendered="#{manageUndergraduateCourseSecretaryController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseSecretary.title.create.description']}" rendered="#{(! manageUndergraduateCourseSecretaryController.readOnly) and (manageUndergraduateCourseSecretaryController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseSecretary.title.update.description']}" rendered="#{(! manageUndergraduateCourseSecretaryController.readOnly) and (manageUndergraduateCourseSecretaryController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseSecretary.title.retrieve.description']}" rendered="#{manageUndergraduateCourseSecretaryController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageUndergraduateCourseSecretary.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the UndergraduateCourse. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['manageUndergraduateCourseSecretary.form.title']}" />
			<p:focus />
			
			<!-- Field: undergraduateCourse. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="undergraduateCourse" />
				<ui:param name="label" value="#{msgsAdmin['manageUndergraduateCourseSecretary.field.undergraduateCourse']}" />
				<p:autoComplete
					id="undergraduateCourse"
					value="#{manageUndergraduateCourseSecretaryController.selectedUndergraduateCourse}"
					completeMethod="#{manageUndergraduateCourseSecretaryController.completeUndergraduateCourse}"
					var="undergraduateCourse"
					itemLabel="#{undergraduateCourse.name}"
					itemValue="#{undergraduateCourse}"
					converter="#{manageUndergraduateCourseSecretaryController.undergraduateCourseConverter}"
					forceSelection="true"
					disabled="#{manageUndergraduateCourseSecretaryController.readOnly}">
					<p:column>
						<h:outputText value="#{undergraduateCourse.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['manageUndergraduateCourseSecretary.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{manageUndergraduateCourseSecretaryController.selectedAcademic}"
					completeMethod="#{manageUndergraduateCourseSecretaryController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{manageUndergraduateCourseSecretaryController.academicConverter}"
					forceSelection="true"
					disabled="#{manageUndergraduateCourseSecretaryController.readOnly}">
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: beginDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="beginDate" />
				<ui:param name="label" value="#{msgsAdmin['manageUndergraduateCourseSecretary.field.beginDate']}"/>
				<p:datePicker id="beginDate" value="#{manageUndergraduateCourseSecretaryController.selectedEntity.beginDate}" disabled="#{manageUndergraduateCourseSecretaryController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: endDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="endDate" />
				<ui:param name="label" value="#{msgsAdmin['manageUndergraduateCourseSecretary.field.endDate']}"/>
				<p:datePicker id="endDate" value="#{manageUndergraduateCourseSecretaryController.selectedEntity.endDate}" disabled="#{manageUndergraduateCourseSecretaryController.readOnly}" />
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageUndergraduateCourseSecretaryController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{manageUndergraduateCourseSecretaryController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{manageUndergraduateCourseSecretaryController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{manageUndergraduateCourseSecretaryController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{manageUndergraduateCourseSecretaryController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>