<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageDepartmentStudentRepresentation.title.create']}" rendered="#{(! manageDepartmentStudentRepresentationController.readOnly) and (manageDepartmentStudentRepresentationController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentStudentRepresentation.title.update']}" rendered="#{(! manageDepartmentStudentRepresentationController.readOnly) and (manageDepartmentStudentRepresentationController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentStudentRepresentation.title.retrieve']}" rendered="#{manageDepartmentStudentRepresentationController.readOnly}" />
	</ui:define>
	
	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageDepartmentStudentRepresentation.title.create.description']}" rendered="#{(! manageDepartmentStudentRepresentationController.readOnly) and (manageDepartmentStudentRepresentationController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentStudentRepresentation.title.update.description']}" rendered="#{(! manageDepartmentStudentRepresentationController.readOnly) and (manageDepartmentStudentRepresentationController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentStudentRepresentation.title.retrieve.description']}" rendered="#{manageDepartmentStudentRepresentationController.readOnly}" />
	</ui:define>
	
	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageDepartmentStudentRepresentation.title']}" link="index.xhtml" />
		
		<!-- The form to be filled with information on the Department StudentRepresentation. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" />
			<ui:param name="formLabel" value="#{msgsAdmin['manageDepartmentStudentRepresentation.form.title']}" />
			<p:focus/>
			
			<!-- Field: department. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="department" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentStudentRepresentation.field.department']}" />
				<p:autoComplete
					id="department"
					value="#{manageDepartmentStudentRepresentationController.selectedDepartment}"
					completeMethod="#{manageDepartmentStudentRepresentationController.completeDepartment}"
					var="department"
					itemLabel="#{department.name}"
					itemValue="#{department}"
					converter="#{manageDepartmentStudentRepresentationController.departmentConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentStudentRepresentationController.readOnly}">
					<p:column>
						<h:outputText value="#{department.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentStudentRepresentation.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{manageDepartmentStudentRepresentationController.selectedAcademic}"
					completeMethod="#{manageDepartmentStudentRepresentationController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{manageDepartmentStudentRepresentationController.academicConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentStudentRepresentationController.readOnly}">
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: beginDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="beginDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentStudentRepresentation.field.beginDate']}"/>
				<p:datePicker id="beginDate" value="#{manageDepartmentStudentRepresentationController.selectedEntity.beginDate}" disabled="#{manageDepartmentStudentRepresentationController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: endDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="endDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentStudentRepresentation.field.endDate']}"/>
				<p:datePicker id="endDate" value="#{manageDepartmentStudentRepresentationController.selectedEntity.endDate}" disabled="#{manageDepartmentStudentRepresentationController.readOnly}" />
			</ui:decorate>
			
			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageDepartmentStudentRepresentationController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{manageDepartmentStudentRepresentationController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{manageDepartmentStudentRepresentationController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{manageDepartmentStudentRepresentationController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{manageDepartmentStudentRepresentationController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
			
		</ui:decorate>	
	</ui:define>
</ui:composition>