<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">
    
    <ui:fragment rendered="#{sessionController.admin}">
		<li class="header">
			<h:outputText value="#{msgsAdmin['menu.admin']}" />
		</li>
		
		<!-- Manage Academics -->
		<li><p:link outcome="/admin/manageAcademics/index">
			<i class="fa fa-chalkboard-teacher"></i>
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageAcademics']}" /></span>
		</p:link></li>
		
		<!-- Manage Faculty: -->
		<li><p:link outcome="/admin/manageFaculty/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageFaculty']}" /></span>	
		</p:link></li>
	</ui:fragment>
	
	<ui:fragment rendered="#{sessionController.admin}">
		<li class="header"><h:outputText value="#{msgsAdmin['menu.admin.department']}" /></li>
		
		<!-- Manage Department -->
		<li><p:link outcome="/admin/manageDepartment/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageDepartment']}" /></span>
		</p:link></li>
		
		<!-- Manage Department Headship -->
		<li><p:link outcome="/admin/manageDepartmentHeadship/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageDepartmentHeadship']}" /></span>
		</p:link></li>
		
		<!-- Manage Department Secretary -->
		<li><p:link outcome="/admin/manageDepartmentSecretary/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageDepartmentSecretary']}" /></span>
		</p:link></li>
		
		<!-- Manage Department Participation -->
		<li><p:link outcome="/admin/manageDepartmentParticipation/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageDepartmentParticipation']}" /></span>
		</p:link></li>
		
		<!-- Manage Department Student Representation -->
		<li><p:link outcome="/admin/manageDepartmentStudentRepresentation/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageDepartmentStudentRepresentation']}" /></span>
		</p:link></li>
	</ui:fragment>
	
	<ui:fragment rendered="#{sessionController.admin}">
		<li class="header">
			<h:outputText value="#{msgsAdmin['menu.admin.undergraduateCourse']}" />
		</li>
		
		<!-- Manage Undergraduate Course -->
		<li><p:link outcome="/admin/manageUndergraduateCourse/index">
				<span><h:outputText value="#{msgsAdmin['menu.admin.manageUndergraduateCourse']}" /></span>
		</p:link></li>
		
		<!-- Manage Undergraduate Course Coordination -->
		<li><p:link outcome="/admin/manageUndergraduateCourseCoordination/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageUndergraduateCourseCoordination']}" /></span>
		</p:link></li>
		
		<!-- Manage Undergraduate Course Secretary -->
		<li><p:link outcome="/admin/manageUndergraduateCourseSecretary/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageUndergraduateCourseSecretary']}" /></span>
		</p:link></li>
		
		<!-- Manage Undergraduate Course Enrollment -->
		<li><p:link outcome="/admin/manageUndergraduateCourseEnrollment/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageUndergraduateCourseEnrollment']}" /></span>
		</p:link></li>
		
		<!-- Manage Undergraduate Course Internship Coordination -->
		<li><p:link outcome="/admin/manageUndergraduateCourseInternshipCoordination/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageUndergraduateCourseInternshipCoordination']}" /></span>
		</p:link></li>
		
		<!-- Manage Undergraduate Course Student Representation -->
		<li><p:link outcome="/admin/manageUndergraduateCourseStudentRepresentation/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageUndergraduateCourseStudentRepresentation']}" /></span>
		</p:link></li>
		
		<!-- Manage Undergraduate Course Collegiate Members -->
		<li><p:link outcome="/admin/manageUndergraduateCourseCollegiateMembers/index">
			<span><h:outputText value="#{msgsAdmin['menu.admin.manageUndergraduateCourseCollegiateMembers']}" /></span>
		</p:link></li>		
	</ui:fragment>
	
	<ui:fragment rendered="#{sessionController.admin}">
		
		<li class="header"><h:outputText value="#{msgsAdmin['menu.admin.postgraduateProgram']}" /></li>
		
		<li><p:link outcome="/admin/managePostgraduateProgram/index">
				<span><h:outputText value="Manage Postgraduate Program" /></span>
		</p:link></li>
		
		<li><p:link outcome="/admin/managePostgraduateProgramCoordination/index">
			<span><h:outputText value="Manage PP Coordination" /></span>
		</p:link></li>
		
		<li><p:link outcome="/admin/managePostgraduateProgramSecretary/index">
			<span><h:outputText value="Manage PP Secretary" /></span>
		</p:link></li>
		
		<li><p:link outcome="/admin/managePostgraduateProgramStudentRepresentation/index">
			<span><h:outputText value="Manage PP Student Representation" /></span>
		</p:link></li>
		
		<li><p:link outcome="/admin/managePostgraduateProgramMember/index">
			<span><h:outputText value="Manage PP Member" /></span>
		</p:link></li>
		
		<li><p:link outcome="/admin/managePostgraduateProgramCollegiateMember/index">
			<span><h:outputText value="Manage PP Collegiate Members" /></span>
		</p:link></li>
		
		<li class="header"><h:outputText value="#{msgsAdmin['menu.admin.postgraduate']}" /></li>
		
		<li><p:link outcome="/admin/managePostgraduateCourse/index">
			<span><h:outputText value="Manage Postgraduate Course" /></span>
		</p:link></li>
		
		<li><p:link outcome="/admin/managePostgraduateCourseEnrollment/index">
			<span><h:outputText value="Manage P Course Enrollment" /></span>
		</p:link></li>
		
	</ui:fragment>
	
	<ui:fragment rendered="#{(sessionController.professor or sessionController.staff) and manageDepartmentHeadshipController.currentUserValidDepartmentAdmin == true}">
		<li class="header"><h:outputText value="#{msgsAdmin['menu.admin.department']}" /></li>
		
		<!-- Appoint Department Headship-->
		<li><p:link outcome="/admin/appointDepartmentHeadship/index">
			<span><h:outputText value="Appoint D Headship" /></span>
		</p:link></li>
		
		<!-- Appoint Department Secretary-->
		<li><p:link outcome="/admin/appointDepartmentSecretary/index">
			<span><h:outputText value="Appoint D Secretary" /></span>
		</p:link></li>
		
		<!-- Appoint Department Participation-->
		<li><p:link outcome="/admin/appointDepartmentParticipation/index">
			<span><h:outputText value="Appoint D Participation" /></span>
		</p:link></li>
		
		<!-- Appoint Department Student Representation-->
		<li><p:link outcome="/admin/appointDepartmentStudentRepresentation/index">
			<span><h:outputText value="Appoint D Student Representation" /></span>
		</p:link></li>
	</ui:fragment>
	
	<ui:fragment rendered="#{(sessionController.professor or sessionController.staff) and manageUndergraduateCourseCoordinationController.currentUserValidUndergraduateCourseAdmin == true}">
		<li class="header">
			<h:outputText value="#{msgsAdmin['menu.admin.undergraduateCourse']}" />
		</li>
		
		<!-- Appoint Undergraduate Course Coordination-->
		<li><p:link outcome="/admin/appointUndergraduateCourseCoordination/index">
			<span><h:outputText value="Appoint UC Coordination" /></span>
		</p:link></li>
		
		<!-- Appoint Undergraduate Course Secretary-->
		<li><p:link outcome="/admin/appointUndergraduateCourseSecretary/index">
			<span><h:outputText value="Appoint UC Secretary" /></span>
		</p:link></li>
		
		<!-- Appoint Undergraduate Course Enrollment-->
		<li><p:link outcome="/admin/appointUndergraduateCourseEnrollment/index">
			<span><h:outputText value="Appoint UC Enrollment" /></span>
		</p:link></li>
		
		<!-- Appoint Undergraduate Course Internship Coordination-->
		<li><p:link outcome="/admin/appointUndergraduateCourseInternshipCoordination/index">
			<span><h:outputText value="Appoint UC Internship Coordination" /></span>
		</p:link></li>
		
		<!-- Appoint Undergraduate Course Student Representation-->
		<li><p:link outcome="/admin/appointUndergraduateCourseStudentRepresentation/index">
			<span><h:outputText value="Appoint UC Student Representation" /></span>
		</p:link></li>
		
		<!-- Appoint Undergraduate Course Collegiate Members-->
		<li><p:link outcome="/admin/appointUndergraduateCourseCollegiateMembers/index">
			<span><h:outputText value="Appoint UC Collegiate Members" /></span>
		</p:link></li>	
	</ui:fragment>
	
	<ui:fragment rendered="#{(sessionController.professor or sessionController.staff) and managePostgraduateProgramCoordinationController.currentUserValidPostgraduateProgramAdmin == true}">
		<li class="header">
			<h:outputText value="#{msgsAdmin['menu.admin.postgraduateProgram']}" />
		</li>
		
		<!-- Appoint Postgraduate Program Coordination-->
		<li><p:link outcome="/admin/appointPostgraduateProgramCoordination/index">
			<span><h:outputText value="Appoint PP Coordination" /></span>
		</p:link></li>
		
		<!-- Appoint Postgraduate Program Secretary-->
		<li><p:link outcome="/admin/appointPostgraduateProgramSecretary/index">
			<span><h:outputText value="Appoint PP Secretary" /></span>
		</p:link></li>
		
		<!-- Appoint Postgraduate Program Member-->
		<li><p:link outcome="/admin/appointPostgraduateProgramMember/index">
			<span><h:outputText value="Appoint PP Member" /></span>
		</p:link></li>
		
		<!-- Appoint Postgraduate Program Collegiate Member-->
		<li><p:link outcome="/admin/appointPostgraduateProgramCollegiateMember/index">
			<span><h:outputText value="Appoint PP CollegiateMember" /></span>
		</p:link></li>
		
		<!-- Appoint Postgraduate Program Student Representation-->
		<li><p:link outcome="/admin/appointPostgraduateProgramStudentRepresentation/index">
			<span><h:outputText value="Appoint PP Student Representation" /></span>
		</p:link></li>
		
		<li class="header"><h:outputText value="#{msgsAdmin['menu.admin.postgraduate']}" /></li>
		
		<!-- Appoint Postgraduate Course Enrollment-->
		<li><p:link outcome="/admin/appointPostgraduateCourseEnrollment/index">
			<span><h:outputText value="Appoint P Course Enrollment" /></span>
		</p:link></li>
		
	</ui:fragment>

</ui:composition>