<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageFaculty.title.create']}" rendered="#{(! manageFacultyController.readOnly) and (manageFacultyController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageFaculty.title.update']}" rendered="#{(! manageFacultyController.readOnly) and (manageFacultyController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageFaculty.title.retrieve']}" rendered="#{manageFacultyController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageFaculty.title.create.description']}" rendered="#{(! manageFacultyController.readOnly) and (manageFacultyController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageFaculty.title.update.description']}" rendered="#{(! manageFacultyController.readOnly) and (manageFacultyController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageFaculty.title.retrieve.description']}" rendered="#{manageFacultyController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageFaculty.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the faculty. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['manageFaculty.form.title']}" />
			<p:focus />

			<!-- Field: name. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsAdmin['manageFaculty.field.name']}" />
				<p:inputText
					id="name"
					value="#{manageFacultyController.selectedEntity.name}"
					required="true"
					disabled="#{manageFacultyController.readOnly}">
				</p:inputText>
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageFacultyController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton
						id="cancelButton"
						action="#{manageFacultyController.list}"
						value="#{msgs['jbutler.crud.button.cancel']}"
						immediate="true"
						icon="fa fa-fw fa-close"
					/>
					<p:commandButton
						id="saveButton"
						action="#{manageFacultyController.save}"
						value="#{msgs['jbutler.crud.button.save']}"
						update=":form :messages :info-messages"
						icon="fa fa-fw fa-save"
					/>
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{manageFacultyController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton
						id="backButton"
						action="#{manageFacultyController.list}"
						value="#{msgs['jbutler.crud.button.back']}"
						immediate="true"
						icon="fa fa-fw fa-arrow-circle-left"
					/>
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>	
</ui:composition>