<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageFaculty.title']}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageFaculty.title.description']}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageFaculty.title']}" link="index.xhtml" />
	
		<!-- Filter bar: used to filter the listing (displayed when there is at least one filter available). -->
		<h:panelGroup id="filterBar" rendered="#{(not empty manageFacultyController.filters)}">
			<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
				<ui:param name="formName" value="filterForm" />

				<ui:decorate template="/WEB-INF/templates/formfield-filter.xhtml">
					<p:selectOneMenu id="filter" required="true" value="#{manageFacultyController.filterKey}">
						<f:selectItems value="#{manageFacultyController.filters}" var="filter" itemLabel="#{filter.label}" itemValue="#{filter.key}" />
						<f:ajax event="change" execute="@form" listener="#{manageFacultyController.changeFilter}" render="@form :listingForm" />
					</p:selectOneMenu>
					<p:inputText id="filterText" required="false" value="#{manageFacultyController.filterParam}" rendered="#{manageFacultyController.filter.options == null}" style="min-width: 400px;"/>
					<p:selectOneMenu id="filterSelect" required="false" value="#{manageFacultyController.filterParam}" rendered="#{manageFacultyController.filter.options != null}">
						<f:selectItems value="#{manageFacultyController.filter.reversedOptionsLabels}" />
					</p:selectOneMenu>
					<p:commandButton action="#{manageFacultyController.filter}" value="#{msgs['jbutler.crud.button.filter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-search" />
					<p:commandButton action="#{manageFacultyController.cancelFilter}" value="#{msgs['jbutler.crud.button.cancelFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-close" rendered="#{manageFacultyController.filtering}" />
					<p:commandButton action="#{manageFacultyController.clearFilter}" value="#{msgs['jbutler.crud.button.clearFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-eraser" rendered="#{not manageFacultyController.filtering}" />
				</ui:decorate>
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.filterFocus']}" handler="if (findObjectById('filterForm:filterText') != null) findObjectById('filterForm:filterText').focus(); else findObjectById('filterForm:filterSelect').focus();" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageFacultyController.cancelFilter}" process="@form" update=":listingForm @form" rendered="#{manageFacultyController.filtering}" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageFacultyController.clearFilter}" process="@form" update=":listingForm @form" rendered="#{not manageFacultyController.filtering}" />
			</ui:decorate>
		</h:panelGroup>
	
		<!-- The listing form. -->
		<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
			<ui:param name="formName" value="listingForm" /> 

			<f:facet name="header">
                <div class="products-table-header">
                    <span style="font-weight: bold">FACULTIES</span>
                    <span class="filter-container ui-input-icon-left">
                        <i class="pi pi-search"></i>
                        <p:inputText id="globalFilter" onkeyup="PF('dtProducts').filter()" placeholder="Search"/>
                    </span>
                </div>
            </f:facet>

			<p:dataTable
				var="entity" 
				value="#{manageFacultyController.lazyEntities}" 
				widgetVar="listingTable"
				emptyMessage="#{manageFacultyController.filtering ? msgsAdmin['manageFaculty.text.noEntitiesFiltered'] : msgsAdmin['manageFaculty.text.noEntities']}"
				selectionMode="single"
				rows="#{manageFacultyController.maxDataTableRowsPerPage}" 
				rowsPerPageTemplate="#{manageFacultyController.halfMaxDataTableRowsPerPage},#{manageFacultyController.maxDataTableRowsPerPage},#{manageFacultyController.doubleMaxDataTableRowsPerPage}"
				lazy="true" 
				paginator="true" 
				selection="#{manageFacultyController.selectedEntity}"  
				paginatorPosition="bottom" 
				loadingMessage="#{msgs['jbutler.text.ajax.loading']}">
				
				<p:column headerText="#{msgsAdmin['manageFaculty.field.name']}">
					<h:outputText value="#{entity.name}" />
				</p:column>

				<p:ajax event="rowSelect" update=":listingForm:buttonsGroup" />
				<p:ajax event="rowUnselect" update=":listingForm:buttonsGroup" />
			</p:dataTable>

			<!-- Buttons shown below the listing. -->
			<h:panelGroup id="buttonsGroup">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton action="#{manageFacultyController.create}" value="#{msgs['jbutler.crud.button.create']}" icon="fa fa-fw fa-plus" />
					<p:commandButton action="#{manageFacultyController.retrieve}" value="#{msgs['jbutler.crud.button.retrieve']}" icon="fa fa-fw fa-file-text" disabled="#{manageFacultyController.selectedEntity == null}" />
					<p:commandButton action="#{manageFacultyController.update}" value="#{msgs['jbutler.crud.button.update']}" icon="fa fa-fw fa-refresh" disabled="#{manageFacultyController.selectedEntity == null}" />
					<p:commandButton action="#{manageFacultyController.trash}" value="#{msgs['jbutler.crud.button.delete']}" icon="fa fa-fw fa-trash-o" disabled="#{manageFacultyController.selectedEntity == null}" process="@this" update="trashGroup" />
				</ui:decorate>
			</h:panelGroup>

			<!-- The trash panel: shows entities that have been selected for deletion. -->
			<h:panelGroup id="trashGroup">
				<p:panel id="trashPanel" header="#{msgs['jbutler.crud.text.trashHeader']}" rendered="#{not empty manageFacultyController.trashCan}" style="margin-top: 20px">
					<p:dataList value="#{manageFacultyController.trashCan}" var="entity" type="ordered">
		            	#{entity.name}
		            </p:dataList>
					<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
						<p:commandButton action="#{manageFacultyController.cancelDeletion}" value="#{msgs['jbutler.crud.button.cancelDeletion']}" icon="fa fa-fw fa-close" process="@this" update=":listingForm" />
						<p:commandButton action="#{manageFacultyController.delete}" value="#{msgs['jbutler.crud.button.confirmDeletion']}" icon="fa fa-fw fa-trash-o" process="@this" update=":messages :info-messages :listingForm" />
					</ui:decorate>
				</p:panel>
			</h:panelGroup>
		</ui:decorate>
	</ui:define>
</ui:composition>