<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['managePostgraduateCourseEnrollment.title.create']}" rendered="#{(! managePostgraduateCourseEnrollmentController.readOnly) and (managePostgraduateCourseEnrollmentController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourseEnrollment.title.update']}" rendered="#{(! managePostgraduateCourseEnrollmentController.readOnly) and (managePostgraduateCourseEnrollmentController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourseEnrollment.title.retrieve']}" rendered="#{managePostgraduateCourseEnrollmentController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['managePostgraduateCourseEnrollment.title.create.description']}" rendered="#{(! managePostgraduateCourseEnrollmentController.readOnly) and (managePostgraduateCourseEnrollmentController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourseEnrollment.title.update.description']}" rendered="#{(! managePostgraduateCourseEnrollmentController.readOnly) and (managePostgraduateCourseEnrollmentController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourseEnrollment.title.retrieve.description']}" rendered="#{managePostgraduateCourseEnrollmentController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['managePostgraduateCourseEnrollment.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the PostgraduateCourse. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['managePostgraduateCourseEnrollment.form.title']}" />
			<p:focus />
			
			<!-- Field: postgraduateCourse. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="postgraduateCourse" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.postgraduateCourse']}" />
				<p:autoComplete
					id="postgraduateCourse"
					value="#{managePostgraduateCourseEnrollmentController.selectedPostgraduateCourse}"
					completeMethod="#{managePostgraduateCourseEnrollmentController.completePostgraduateCourse}"
					var="postgraduateCourse"
					itemLabel="#{postgraduateCourse.name}"
					itemValue="#{postgraduateCourse}"
					converter="#{managePostgraduateCourseEnrollmentController.postgraduateCourseConverter}"
					forceSelection="true"
					disabled="#{managePostgraduateCourseEnrollmentController.readOnly}">
					<p:column>
						<h:outputText value="#{postgraduateCourse.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{managePostgraduateCourseEnrollmentController.selectedAcademic}"
					completeMethod="#{managePostgraduateCourseEnrollmentController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{managePostgraduateCourseEnrollmentController.academicConverter}"
					forceSelection="true"
					disabled="#{managePostgraduateCourseEnrollmentController.readOnly}">
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: enrollment. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="enrollment" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.enrollment']}" />
				<p:inputNumber id="enrollment"
					value="#{managePostgraduateCourseEnrollmentController.selectedEntity.enrollment}"
					required="true"
					disabled="#{managePostgraduateCourseEnrollmentController.readOnly}">
				</p:inputNumber>
			</ui:decorate>
			
			<!-- Field: beginDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="beginDate" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.beginDate']}"/>
				<p:datePicker id="beginDate" value="#{managePostgraduateCourseEnrollmentController.selectedEntity.beginDate}" disabled="#{managePostgraduateCourseEnrollmentController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: endDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="endDate" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.endDate']}"/>
				<p:datePicker id="endDate" value="#{managePostgraduateCourseEnrollmentController.selectedEntity.endDate}" disabled="#{managePostgraduateCourseEnrollmentController.readOnly}" />
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! managePostgraduateCourseEnrollmentController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{managePostgraduateCourseEnrollmentController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{managePostgraduateCourseEnrollmentController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{managePostgraduateCourseEnrollmentController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{managePostgraduateCourseEnrollmentController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>