<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['appointAcademic.title.appoint']}" />
	</ui:define>
	
	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['appointAcademic.title']}" link="index.xhtml" />
		
		<!-- Filter bar: used to filter the listing (displayed when there is at least one filter available). -->
		<h:panelGroup id="filterBar" rendered="#{(not empty managePostgraduateCourseEnrollmentController.filters)}">
			<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
				<ui:param name="formName" value="filterForm" />

				<ui:decorate template="/WEB-INF/templates/formfield-filter.xhtml">
					<p:selectOneMenu id="filter" required="true" value="#{managePostgraduateCourseEnrollmentController.filterKey}">
						<f:selectItems value="#{managePostgraduateCourseEnrollmentController.filters}" var="filter" itemLabel="#{filter.label}" itemValue="#{filter.key}" />
						<f:ajax event="change" execute="@form" listener="#{managePostgraduateCourseEnrollmentController.changeFilter}" render="@form listingForm" />
					</p:selectOneMenu>
					<p:inputText id="filterText" required="false" value="#{managePostgraduateCourseEnrollmentController.filterParam}" rendered="#{managePostgraduateCourseEnrollmentController.filter.options == null}" style="min-width: 400px;"/>
					<p:selectOneMenu id="filterSelect" required="false" value="#{managePostgraduateCourseEnrollmentController.filterParam}" rendered="#{managePostgraduateCourseEnrollmentController.filter.options != null}">
						<f:selectItems value="#{managePostgraduateCourseEnrollmentController.filter.reversedOptionsLabels}" />
					</p:selectOneMenu>
					<p:commandButton action="#{managePostgraduateCourseEnrollmentController.filter}" value="#{msgs['jbutler.crud.button.filter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-search" />
					<p:commandButton action="#{managePostgraduateCourseEnrollmentController.cancelFilter}" value="#{msgs['jbutler.crud.button.cancelFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-close" rendered="#{managePostgraduateCourseEnrollmentController.filtering}" />
					<p:commandButton action="#{managePostgraduateCourseEnrollmentController.clearFilter}" value="#{msgs['jbutler.crud.button.clearFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-eraser" rendered="#{not managePostgraduateCourseEnrollmentController.filtering}" />
				</ui:decorate>
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.filterFocus']}" handler="if (findObjectById('filterForm:filterText') != null) findObjectById('filterForm:filterText').focus(); else findObjectById('filterForm:filterSelect').focus();" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{managePostgraduateCourseEnrollmentController.cancelFilter}" process="@form" update=":listingForm @form" rendered="#{managePostgraduateCourseEnrollmentController.filtering}" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{managePostgraduateCourseEnrollmentController.clearFilter}" process="@form" update=":listingForm @form" rendered="#{not managePostgraduateCourseEnrollmentController.filtering}" />
			</ui:decorate>
		</h:panelGroup>
	
		<!-- The listing form. -->
		<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
			<ui:param name="formName" value="listingForm" />

			<p:dataTable
				widgetVar="listingTable"
				value="#{managePostgraduateCourseEnrollmentController.lazyEntities}" 
				var="entity"
				rows="#{managePostgraduateCourseEnrollmentController.maxDataTableRowsPerPage}" 
				rowsPerPageTemplate="#{managePostgraduateCourseEnrollmentController.halfMaxDataTableRowsPerPage},#{managePostgraduateCourseEnrollmentController.maxDataTableRowsPerPage},#{managePostgraduateCourseEnrollmentController.doubleMaxDataTableRowsPerPage}"
				lazy="true" 
				paginator="true" 
				selection="#{managePostgraduateCourseEnrollmentController.selectedEntity}" 
				selectionMode="single" 
				paginatorPosition="bottom" 
				loadingMessage="#{msgs['jbutler.text.ajax.loading']}" 
				emptyMessage="#{managePostgraduateCourseEnrollmentController.filtering ? msgsAdmin['managePostgraduateCourseEnrollment.text.noEntitiesFiltered'] : msgsAdmin['managePostgraduateCourseEnrollment.text.noEntities']}"
				>

				<p:column headerText="#{msgsAdmin['managePostgraduateCourseEnrollment.field.academic']}">
					<h:outputText value="#{entity.academic.name}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['managePostgraduateCourseEnrollment.field.beginDate']}">
					<h:outputText value="#{entity.beginDate}"/>
				</p:column>
				
				<p:column headerText="#{msgsAdmin['managePostgraduateCourseEnrollment.field.endDate']}">
					<h:outputText value="#{entity.endDate}" />
				</p:column>

			</p:dataTable>
			
			<!-- Button shown below the listing. -->
			<h:panelGroup id="buttonsGroup">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton action="#{managePostgraduateCourseEnrollmentController.appointNew}" value="Appoint New" icon="fa fa-fw fa-plus" />
					<p:commandButton action="#{managePostgraduateCourseEnrollmentController.finishParticipation}" value="Finish Participation" icon="fa fa-fw fa-plus" update="finishGroup" />
				</ui:decorate>
			</h:panelGroup>
			
			<!-- The finish allocation panel: shows entities that have been selected for finishing allocation. -->
			<h:panelGroup id="finishGroup">
				<p:panel id="finishPanel" header="Finalize performance of the following academic:" rendered="#{managePostgraduateCourseEnrollmentController.finishCan != null}" style="margin-top: 20px">
					<h:outputText value="#{managePostgraduateCourseEnrollmentController.finishCan.academic}" />
					
					<!-- Field: isConcluded. -->
					<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
						<ui:param name="fieldName" value="isConcluded" />
						<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.isConcluded']}" />
						<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
							<p:selectBooleanButton
								id="isConcluded"
								value="#{managePostgraduateCourseEnrollmentController.selectedEntity.isConcluded}"
								onLabel="Concluded"
								offLabel="Didn't Concluded"
								style="width:200px"
							/>  
						</h:panelGrid>
					</ui:decorate>
					
					<!-- Field: wasDisconnected. -->
					<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
						<ui:param name="fieldName" value="wasDisconnected" />
						<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.wasDisconnected']}" />
						<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
							<p:selectBooleanButton
								id="wasDisconnected"
								value="#{managePostgraduateCourseEnrollmentController.selectedEntity.wasDisconnected}"
								onLabel="Was Disconnected"
								offLabel="Wasn't Disconnected"
								style="width:200px"
							/>  
						</h:panelGrid>
					</ui:decorate>
					
					<!-- Field: disconnectionReason. -->
					<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
						<ui:param name="fieldName" value="disconnectionReason" />
						<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourseEnrollment.field.disconnectionReason']}" />
						<p:inputText id="disconnectionReason" value="#{managePostgraduateCourseEnrollmentController.selectedEntity.disconnectionReason}" disabled="#{managePostgraduateCourseEnrollmentController.readOnly}">
							<p:ajax event="blur" update="disconnectionReasonField" />
						</p:inputText>
					</ui:decorate>
					
					<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
						<p:commandButton
							action="#{managePostgraduateCourseEnrollmentController.setEndDate}"
							value="Confirm"
							icon="fa fa-fw"
							process="@this"
							update=":messages :info-messages :listingForm"
						/>
						<p:commandButton
							action="#{managePostgraduateCourseEnrollmentController.cancelFinishParticipation}"
							value="Cancel"
							icon="fa fa-fw fa-close"
							process="@this"
							update="finishGroup :listingForm"
						/>
					</ui:decorate>
				</p:panel>
			</h:panelGroup>
						
		</ui:decorate>
	</ui:define>
</ui:composition>