<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseInternshipCoordination.title']}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageUndergraduateCourseInternshipCoordination.title.description']}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageUndergraduateCourseInternshipCoordination.title']}" link="index.xhtml" />
	
		<!-- Filter bar: used to filter the listing (displayed when there is at least one filter available). -->
		<h:panelGroup id="filterBar" rendered="#{(not empty manageUndergraduateCourseInternshipCoordinationController.filters)}">
			<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
				<ui:param name="formName" value="filterForm" />

				<ui:decorate template="/WEB-INF/templates/formfield-filter.xhtml">
					<p:selectOneMenu id="filter" required="true" value="#{manageUndergraduateCourseInternshipCoordinationController.filterKey}">
						<f:selectItems value="#{manageUndergraduateCourseInternshipCoordinationController.filters}" var="filter" itemLabel="#{filter.label}" itemValue="#{filter.key}" />
						<f:ajax event="change" execute="@form" listener="#{manageUndergraduateCourseInternshipCoordinationController.changeFilter}" render="@form :listingForm" />
					</p:selectOneMenu>
					<p:inputText id="filterText" required="false" value="#{manageUndergraduateCourseInternshipCoordinationController.filterParam}" rendered="#{manageUndergraduateCourseInternshipCoordinationController.filter.options == null}"  style="min-width: 400px;"/>
					<p:selectOneMenu id="filterSelect" required="false" value="#{manageUndergraduateCourseInternshipCoordinationController.filterParam}" rendered="#{manageUndergraduateCourseInternshipCoordinationController.filter.options != null}">
						<f:selectItems value="#{manageUndergraduateCourseInternshipCoordinationController.filter.reversedOptionsLabels}" />
					</p:selectOneMenu>
					<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.filter}" value="#{msgs['jbutler.crud.button.filter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-search" />
					<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.cancelFilter}" value="#{msgs['jbutler.crud.button.cancelFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-close" rendered="#{manageUndergraduateCourseInternshipCoordinationController.filtering}" />
					<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.clearFilter}" value="#{msgs['jbutler.crud.button.clearFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-eraser" rendered="#{not manageUndergraduateCourseInternshipCoordinationController.filtering}" />
				</ui:decorate>
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.filterFocus']}" handler="if (findObjectById('filterForm:filterText') != null) findObjectById('filterForm:filterText').focus(); else findObjectById('filterForm:filterSelect').focus();" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageUndergraduateCourseInternshipCoordinationController.cancelFilter}" process="@form" update=":listingForm @form" rendered="#{manageUndergraduateCourseInternshipCoordinationController.filtering}" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageUndergraduateCourseInternshipCoordinationController.clearFilter}" process="@form" update=":listingForm @form" rendered="#{not manageUndergraduateCourseInternshipCoordinationController.filtering}" />
			</ui:decorate>
		</h:panelGroup>
	
		<!-- The listing form. -->
		<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
			<ui:param name="formName" value="listingForm" /> 

			<p:dataTable
				widgetVar="listingTable"
				value="#{manageUndergraduateCourseInternshipCoordinationController.lazyEntities}" 
				var="entity" 
				rows="#{manageUndergraduateCourseInternshipCoordinationController.maxDataTableRowsPerPage}" 
				rowsPerPageTemplate="#{manageUndergraduateCourseInternshipCoordinationController.halfMaxDataTableRowsPerPage},#{manageUndergraduateCourseInternshipCoordinationController.maxDataTableRowsPerPage},#{manageUndergraduateCourseInternshipCoordinationController.doubleMaxDataTableRowsPerPage}"
				lazy="true" 
				paginator="true" 
				selection="#{manageUndergraduateCourseInternshipCoordinationController.selectedEntity}" 
				selectionMode="single" 
				paginatorPosition="bottom" 
				loadingMessage="#{msgs['jbutler.text.ajax.loading']}" 
				emptyMessage="#{manageUndergraduateCourseInternshipCoordinationController.filtering ? msgsAdmin['manageUndergraduateCourseInternshipCoordination.text.noEntitiesFiltered'] : msgsAdmin['manageUndergraduateCourseInternshipCoordination.text.noEntities']}">

				<p:column headerText="#{msgsAdmin['manageUndergraduateCourseInternshipCoordination.field.academic']}">
					<h:outputText value="#{entity.academic}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageUndergraduateCourseInternshipCoordination.field.undergraduateCourse']}">
					<h:outputText value="#{entity.undergraduateCourse.name}" />
				</p:column>

				<p:column headerText="#{msgsAdmin['manageUndergraduateCourseInternshipCoordination.field.beginDate']}">
					<h:outputText value="#{entity.beginDate}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageUndergraduateCourseInternshipCoordination.field.endDate']}">
					<h:outputText value="#{entity.endDate}" />
				</p:column>

				<p:ajax event="rowSelect" update=":listingForm:buttonsGroup" />
				<p:ajax event="rowUnselect" update=":listingForm:buttonsGroup" />
			</p:dataTable>

			<!-- Buttons shown below the listing. -->
			<h:panelGroup id="buttonsGroup">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.create}" value="#{msgs['jbutler.crud.button.create']}" icon="fa fa-fw fa-plus" />
					<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.retrieve}" value="#{msgs['jbutler.crud.button.retrieve']}" icon="fa fa-fw fa-file-text" disabled="#{manageUndergraduateCourseInternshipCoordinationController.selectedEntity == null}" />
					<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.update}" value="#{msgs['jbutler.crud.button.update']}" icon="fa fa-fw fa-refresh" disabled="#{manageUndergraduateCourseInternshipCoordinationController.selectedEntity == null}" />
					<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.trash}" value="#{msgs['jbutler.crud.button.delete']}" icon="fa fa-fw fa-trash-o" disabled="#{manageUndergraduateCourseInternshipCoordinationController.selectedEntity == null}" process="@this" update="trashGroup" />
				</ui:decorate>
			</h:panelGroup>

			<!-- The trash panel: shows entities that have been selected for deletion. -->
			<h:panelGroup id="trashGroup">
				<p:panel id="trashPanel" header="#{msgs['jbutler.crud.text.trashHeader']}" rendered="#{not empty manageUndergraduateCourseInternshipCoordinationController.trashCan}" style="margin-top: 20px">
					<p:dataList value="#{manageUndergraduateCourseInternshipCoordinationController.trashCan}" var="entity" type="ordered">
		            	#{entity.academic.name} (#{entity.academic.email})
		            </p:dataList>
					<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
						<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.cancelDeletion}" value="#{msgs['jbutler.crud.button.cancelDeletion']}" icon="fa fa-fw fa-close" process="@this" update=":listingForm" />
						<p:commandButton action="#{manageUndergraduateCourseInternshipCoordinationController.delete}" value="#{msgs['jbutler.crud.button.confirmDeletion']}" icon="fa fa-fw fa-trash-o" process="@this" update=":messages :info-messages :listingForm" />
					</ui:decorate>
				</p:panel>
			</h:panelGroup>
		</ui:decorate>
	</ui:define>
</ui:composition>