<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title.create']}" rendered="#{(! manageDepartmentParticipationController.readOnly) and (manageDepartmentParticipationController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title.update']}" rendered="#{(! manageDepartmentParticipationController.readOnly) and (manageDepartmentParticipationController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title.retrieve']}" rendered="#{manageDepartmentParticipationController.readOnly}" />
	</ui:define>
	
	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title.create.description']}" rendered="#{(! manageDepartmentParticipationController.readOnly) and (manageDepartmentParticipationController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title.update.description']}" rendered="#{(! manageDepartmentParticipationController.readOnly) and (manageDepartmentParticipationController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title.retrieve.description']}" rendered="#{manageDepartmentParticipationController.readOnly}" />
	</ui:define>
	
	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageDepartmentParticipation.title']}" link="index.xhtml" />
		
		<!-- The form to be filled with information on the Department Participation. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" />
			<ui:param name="formLabel" value="#{msgsAdmin['manageDepartmentParticipation.form.title']}" />
			<p:focus/>
			
			<!-- Field: department. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="department" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.department']}" />
				<p:autoComplete
					id="department"
					value="#{manageDepartmentParticipationController.selectedDepartment}"
					completeMethod="#{manageDepartmentParticipationController.completeDepartment}"
					var="department"
					itemLabel="#{department.name}"
					itemValue="#{department}"
					converter="#{manageDepartmentParticipationController.departmentConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentParticipationController.readOnly}">
					<p:column>
						<h:outputText value="#{department.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{manageDepartmentParticipationController.selectedAcademic}"
					completeMethod="#{manageDepartmentParticipationController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{manageDepartmentParticipationController.academicConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentParticipationController.readOnly}">
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: beginDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="beginDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.beginDate']}"/>
				<p:datePicker id="beginDate" value="#{manageDepartmentParticipationController.selectedEntity.beginDate}" disabled="#{manageDepartmentParticipationController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: endDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="endDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.endDate']}"/>
				<p:datePicker id="endDate" value="#{manageDepartmentParticipationController.selectedEntity.endDate}" disabled="#{manageDepartmentParticipationController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: specificRole. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="specificRole" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.specificRole']}" />
				<p:inputText id="specificRole" value="#{manageDepartmentParticipationController.selectedEntity.specificRole}" disabled="#{manageDepartmentParticipationController.readOnly}">
					<p:ajax event="blur" update="specificRoleField" />
				</p:inputText>
			</ui:decorate>
			
			<!-- Field: disconnectionReason. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="disconnectionReason" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.disconnectionReason']}" />
				<p:inputText id="disconnectionReason" value="#{manageDepartmentParticipationController.selectedEntity.disconnectionReason}" disabled="#{manageDepartmentParticipationController.readOnly}">
					<p:ajax event="blur" update="disconnectionReasonField" />
				</p:inputText>
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageDepartmentParticipationController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{manageDepartmentParticipationController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{manageDepartmentParticipationController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{manageDepartmentParticipationController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{manageDepartmentParticipationController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
						
		</ui:decorate>	
	</ui:define>
</ui:composition>