<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title']}" />
	</ui:define>
	
	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageDepartmentParticipation.title.description']}" />
	</ui:define>
	
	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageDepartmentParticipation.title']}" link="index.xhtml" />
	
		<!-- Filter bar: used to filter the listing (displayed when there is at least one filter available). -->
		<h:panelGroup id="filterBar" rendered="#{(not empty manageDepartmentParticipationController.filters)}">
			<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
				<ui:param name="formName" value="filterForm" />

				<ui:decorate template="/WEB-INF/templates/formfield-filter.xhtml">
					<p:selectOneMenu id="filter" required="true" value="#{manageDepartmentParticipationController.filterKey}">
						<f:selectItems value="#{manageDepartmentParticipationController.filters}" var="filter" itemLabel="#{filter.label}" itemValue="#{filter.key}" />
						<f:ajax event="change" execute="@form" listener="#{manageDepartmentParticipationController.changeFilter}" render="@form :listingForm" />
					</p:selectOneMenu>
					<p:inputText id="filterText" required="false" value="#{manageDepartmentParticipationController.filterParam}" rendered="#{manageDepartmentParticipationController.filter.options == null}" style="min-width: 400px;"/>
					<p:selectOneMenu id="filterSelect" required="false" value="#{manageDepartmentParticipationController.filterParam}" rendered="#{manageDepartmentParticipationController.filter.options != null}">
						<f:selectItems value="#{manageDepartmentParticipationController.filter.reversedOptionsLabels}" />
					</p:selectOneMenu>
					<p:commandButton action="#{manageDepartmentParticipationController.filter}" value="#{msgs['jbutler.crud.button.filter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-search" />
					<p:commandButton action="#{manageDepartmentParticipationController.cancelFilter}" value="#{msgs['jbutler.crud.button.cancelFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-close" rendered="#{manageDepartmentParticipationController.filtering}" />
					<p:commandButton action="#{manageDepartmentParticipationController.clearFilter}" value="#{msgs['jbutler.crud.button.clearFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-eraser" rendered="#{not manageDepartmentParticipationController.filtering}" />
				</ui:decorate>
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.filterFocus']}" handler="if (findObjectById('filterForm:filterText') != null) findObjectById('filterForm:filterText').focus(); else findObjectById('filterForm:filterSelect').focus();" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageDepartmentParticipationController.cancelFilter}" process="@form" update=":listingForm @form" rendered="#{manageDepartmentParticipationController.filtering}" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageDepartmentParticipationController.clearFilter}" process="@form" update=":listingForm @form" rendered="#{not manageDepartmentParticipationController.filtering}" />
			</ui:decorate>
		</h:panelGroup>
	
		<!-- The listing form. -->
		<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
			<ui:param name="formName" value="listingForm" />

			<p:dataTable
				widgetVar="listingTable"
				value="#{manageDepartmentParticipationController.lazyEntities}" 
				var="entity" 
				rows="#{manageDepartmentParticipationController.maxDataTableRowsPerPage}" 
				rowsPerPageTemplate="#{manageDepartmentParticipationController.halfMaxDataTableRowsPerPage},#{manageDepartmentParticipationController.maxDataTableRowsPerPage},#{manageDepartmentParticipationController.doubleMaxDataTableRowsPerPage}"
				lazy="true" 
				paginator="true" 
				selection="#{manageDepartmentParticipationController.selectedEntity}" 
				selectionMode="single" 
				paginatorPosition="bottom" 
				loadingMessage="#{msgs['jbutler.text.ajax.loading']}" 
				emptyMessage="#{manageDepartmentParticipationController.filtering ? msgsAdmin['manageDepartmentParticipation.text.noEntitiesFiltered'] : msgsAdmin['manageDepartmentParticipation.text.noEntities']}"
				>

				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.academic']}">
					<h:outputText value="#{entity.academic.name}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.specificRole']}">
					<h:outputText value="#{entity.specificRole}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.beginDate']}">
					<h:outputText value="#{entity.beginDate}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.endDate']}">
					<h:outputText value="#{entity.endDate}" />
				</p:column>

				<p:ajax event="rowSelect" update=":listingForm:buttonsGroup" />
				<p:ajax event="rowUnselect" update=":listingForm:buttonsGroup" />
			</p:dataTable>
			
			<!-- Buttons shown below the listing. -->
			<h:panelGroup id="buttonsGroup">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton action="#{manageDepartmentParticipationController.create}" value="#{msgs['jbutler.crud.button.create']}" icon="fa fa-fw fa-plus" />
					<p:commandButton action="#{manageDepartmentParticipationController.retrieve}" value="#{msgs['jbutler.crud.button.retrieve']}" icon="fa fa-fw fa-file-text" disabled="#{manageDepartmentParticipationController.selectedEntity == null}" />
					<p:commandButton action="#{manageDepartmentParticipationController.update}" value="#{msgs['jbutler.crud.button.update']}" icon="fa fa-fw fa-refresh" disabled="#{manageDepartmentParticipationController.selectedEntity == null}" />
					<p:commandButton action="#{manageDepartmentParticipationController.trash}" value="#{msgs['jbutler.crud.button.delete']}" icon="fa fa-fw fa-trash-o" disabled="#{manageDepartmentParticipationController.selectedEntity == null}" process="@this" update="trashGroup" />
				</ui:decorate>
			</h:panelGroup>
			
			<!-- The trash panel: shows entities that have been selected for deletion. -->
			<h:panelGroup id="trashGroup">
				<p:panel id="trashPanel" header="#{msgs['jbutler.crud.text.trashHeader']}" rendered="#{not empty manageDepartmentParticipationController.trashCan}" style="margin-top: 20px">
					<p:dataList value="#{manageDepartmentParticipationController.trashCan}" var="entity" type="ordered">
		            	#{entity.academic.name} (#{entity.academic.email})
		            </p:dataList>
					<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
						<p:commandButton action="#{manageDepartmentParticipationController.cancelDeletion}" value="#{msgs['jbutler.crud.button.cancelDeletion']}" icon="fa fa-fw fa-close" process="@this" update=":listingForm" />
						<p:commandButton action="#{manageDepartmentParticipationController.delete}" value="#{msgs['jbutler.crud.button.confirmDeletion']}" icon="fa fa-fw fa-trash-o" process="@this" update=":messages :info-messages :listingForm" />
					</ui:decorate>
				</p:panel>
			</h:panelGroup>
		</ui:decorate>
	</ui:define>
</ui:composition>