<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.title.create']}" rendered="#{(! managePostgraduateProgramCollegiateMemberController.readOnly) and (managePostgraduateProgramCollegiateMemberController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.title.update']}" rendered="#{(! managePostgraduateProgramCollegiateMemberController.readOnly) and (managePostgraduateProgramCollegiateMemberController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.title.retrieve']}" rendered="#{managePostgraduateProgramCollegiateMemberController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.title.create.description']}" rendered="#{(! managePostgraduateProgramCollegiateMemberController.readOnly) and (managePostgraduateProgramCollegiateMemberController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.title.update.description']}" rendered="#{(! managePostgraduateProgramCollegiateMemberController.readOnly) and (managePostgraduateProgramCollegiateMemberController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.title.retrieve.description']}" rendered="#{managePostgraduateProgramCollegiateMemberController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['managePostgraduateProgramCollegiateMember.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the PostgraduateProgram. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.form.title']}" />
			<p:focus />
			
			<!-- Field: postgraduateProgram. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="postgraduateProgram" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.field.postgraduateProgram']}" />
				<p:autoComplete
					id="postgraduateProgram"
					value="#{managePostgraduateProgramCollegiateMemberController.selectedPostgraduateProgram}"
					completeMethod="#{managePostgraduateProgramCollegiateMemberController.completePostgraduateProgram}"
					var="postgraduateProgram"
					itemLabel="#{postgraduateProgram.name}"
					itemValue="#{postgraduateProgram}"
					converter="#{managePostgraduateProgramCollegiateMemberController.postgraduateProgramConverter}"
					forceSelection="true"
					disabled="#{managePostgraduateProgramCollegiateMemberController.readOnly}">
					<p:column>
						<h:outputText value="#{postgraduateProgram.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{managePostgraduateProgramCollegiateMemberController.selectedAcademic}"
					completeMethod="#{managePostgraduateProgramCollegiateMemberController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{managePostgraduateProgramCollegiateMemberController.academicConverter}"
					forceSelection="true"
					disabled="#{managePostgraduateProgramCollegiateMemberController.readOnly}">
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: beginDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="beginDate" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.field.beginDate']}"/>
				<p:datePicker id="beginDate" value="#{managePostgraduateProgramCollegiateMemberController.selectedEntity.beginDate}" disabled="#{managePostgraduateProgramCollegiateMemberController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: endDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="endDate" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateProgramCollegiateMember.field.endDate']}"/>
				<p:datePicker id="endDate" value="#{managePostgraduateProgramCollegiateMemberController.selectedEntity.endDate}" disabled="#{managePostgraduateProgramCollegiateMemberController.readOnly}" />
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! managePostgraduateProgramCollegiateMemberController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{managePostgraduateProgramCollegiateMemberController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{managePostgraduateProgramCollegiateMemberController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{managePostgraduateProgramCollegiateMemberController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{managePostgraduateProgramCollegiateMemberController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>