<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['managePostgraduateCourse.title.create']}" rendered="#{(! managePostgraduateCourseController.readOnly) and (managePostgraduateCourseController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourse.title.update']}" rendered="#{(! managePostgraduateCourseController.readOnly) and (managePostgraduateCourseController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourse.title.retrieve']}" rendered="#{managePostgraduateCourseController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['managePostgraduateCourse.title.create.description']}" rendered="#{(! managePostgraduateCourseController.readOnly) and (managePostgraduateCourseController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourse.title.update.description']}" rendered="#{(! managePostgraduateCourseController.readOnly) and (managePostgraduateCourseController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePostgraduateCourse.title.retrieve.description']}" rendered="#{managePostgraduateCourseController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['managePostgraduateCourse.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the PostgraduateCourse. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['managePostgraduateCourse.form.title']}" />
			<p:focus />
			
			<!-- Field: name. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourse.field.name']}" />
				<p:inputText id="name"
					value="#{managePostgraduateCourseController.selectedEntity.name}"
					required="true"
					disabled="#{managePostgraduateCourseController.readOnly}">
				</p:inputText>
			</ui:decorate>
			
			<!-- Field: PostgraduateProgram.-->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="PostgraduateProgram" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourse.field.postgraduateProgram']}" />
				<p:autoComplete
					id="PostgraduateProgram"
					value="#{managePostgraduateCourseController.selectedPostgraduateProgram}"
					completeMethod="#{managePostgraduateCourseController.completePostgraduateProgram}"
					var="PostgraduateProgram"
					itemLabel="#{PostgraduateProgram.name}"
					itemValue="#{PostgraduateProgram}"
					converter="#{managePostgraduateCourseController.postgraduateProgramConverter}"
					forceSelection="true"
					disabled="#{managePostgraduateCourseController.readOnly}">
					<p:column>
						<h:outputText value="#{PostgraduateProgram.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: code. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="code" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourse.field.code']}" />
				<p:inputNumber id="code"
					value="#{managePostgraduateCourseController.selectedEntity.code}"
					required="true"
					disabled="#{managePostgraduateCourseController.readOnly}">
				</p:inputNumber>
			</ui:decorate>
			
			<!-- Field: level. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="level" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourse.field.level']}" />
				<p:inputText id="level"
					value="#{managePostgraduateCourseController.selectedEntity.level}"
					required="true"
					disabled="#{managePostgraduateCourseController.readOnly}">
				</p:inputText>
			</ui:decorate>
			
			<!-- Field: shift. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="shift" />
				<ui:param name="label" value="#{msgsAdmin['managePostgraduateCourse.field.shift']}" />
				<p:inputText id="shift"
					value="#{managePostgraduateCourseController.selectedEntity.shift}"
					required="true"
					disabled="#{managePostgraduateCourseController.readOnly}">
				</p:inputText>
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! managePostgraduateCourseController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{managePostgraduateCourseController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{managePostgraduateCourseController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{managePostgraduateCourseController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{managePostgraduateCourseController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>