<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageDepartmentSecretary.title.create']}" rendered="#{(! manageDepartmentSecretaryController.readOnly) and (manageDepartmentSecretaryController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentSecretary.title.update']}" rendered="#{(! manageDepartmentSecretaryController.readOnly) and (manageDepartmentSecretaryController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentSecretary.title.retrieve']}" rendered="#{manageDepartmentSecretaryController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageDepartmentSecretary.title.create.description']}" rendered="#{(! manageDepartmentSecretaryController.readOnly) and (manageDepartmentSecretaryController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentSecretary.title.update.description']}" rendered="#{(! manageDepartmentSecretaryController.readOnly) and (manageDepartmentSecretaryController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentSecretary.title.retrieve.description']}" rendered="#{manageDepartmentSecretaryController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageDepartmentSecretary.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the Department. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['manageDepartmentSecretary.form.title']}" />
			<p:focus />
			
			<!-- Field: department. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="department" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentSecretary.field.department']}" />
				<p:autoComplete
					id="department"
					value="#{manageDepartmentSecretaryController.selectedDepartment}"
					completeMethod="#{manageDepartmentSecretaryController.completeDepartment}"
					var="department"
					itemLabel="#{department.name}"
					itemValue="#{department}"
					converter="#{manageDepartmentSecretaryController.departmentConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentSecretaryController.readOnly}">
					<p:column>
						<h:outputText value="#{department.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentSecretary.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{manageDepartmentSecretaryController.selectedAcademic}"
					completeMethod="#{manageDepartmentSecretaryController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{manageDepartmentSecretaryController.academicConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentSecretaryController.readOnly}">
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>
			
			<!-- Field: beginDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="beginDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentSecretary.field.beginDate']}"/>
				<p:datePicker id="beginDate" value="#{manageDepartmentSecretaryController.selectedEntity.beginDate}" disabled="#{manageDepartmentSecretaryController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: endDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="endDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentSecretary.field.endDate']}"/>
				<p:datePicker id="endDate" value="#{manageDepartmentSecretaryController.selectedEntity.endDate}" disabled="#{manageDepartmentSecretaryController.readOnly}" />
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageDepartmentSecretaryController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{manageDepartmentSecretaryController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{manageDepartmentSecretaryController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{manageDepartmentSecretaryController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{manageDepartmentSecretaryController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>