<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageDepartmentHeadship.title.create']}" rendered="#{(! manageDepartmentHeadshipController.readOnly) and (manageDepartmentHeadshipController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentHeadship.title.update']}" rendered="#{(! manageDepartmentHeadshipController.readOnly) and (manageDepartmentHeadshipController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentHeadship.title.retrieve']}" rendered="#{manageDepartmentHeadshipController.readOnly}" />
	</ui:define>
	
	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageDepartmentHeadship.title.create.description']}" rendered="#{(! manageDepartmentHeadshipController.readOnly) and (manageDepartmentHeadshipController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentHeadship.title.update.description']}" rendered="#{(! manageDepartmentHeadshipController.readOnly) and (manageDepartmentHeadshipController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartmentHeadship.title.retrieve.description']}" rendered="#{manageDepartmentHeadshipController.readOnly}" />
	</ui:define>
	
	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageDepartmentHeadship.title']}" link="index.xhtml" />
		
		<!-- The form to be filled with information on the Department Headship. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" />
			<ui:param name="formLabel" value="#{msgsAdmin['manageDepartmentHeadship.form.title']}" />
			<p:focus/>
			
			<!-- Field: department. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="department" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentHeadship.field.department']}" />
				<p:autoComplete
					id="department"
					value="#{manageDepartmentHeadshipController.selectedDepartment}"
					completeMethod="#{manageDepartmentHeadshipController.completeDepartment}"
					var="department"
					itemLabel="#{department.name}"
					itemValue="#{department}"
					converter="#{manageDepartmentHeadshipController.departmentConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentHeadshipController.readOnly}">
					<p:column>
						<h:outputText value="#{department.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentHeadship.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{manageDepartmentHeadshipController.selectedAcademic}"
					completeMethod="#{manageDepartmentHeadshipController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{manageDepartmentHeadshipController.academicConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentHeadshipController.readOnly}">
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
					
					<p:column>
						<h:outputText value="#{academic.roles}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: beginDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="beginDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentHeadship.field.beginDate']}"/>
				<p:datePicker id="beginDate" value="#{manageDepartmentHeadshipController.selectedEntity.beginDate}" disabled="#{manageDepartmentHeadshipController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: endDate. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="endDate" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentHeadship.field.endDate']}"/>
				<p:datePicker id="endDate" value="#{manageDepartmentHeadshipController.selectedEntity.endDate}" disabled="#{manageDepartmentHeadshipController.readOnly}" />
			</ui:decorate>
			
			<!-- Field: isBoss. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="isBoss" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentHeadship.field.isBoss']}" />
				<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
					<p:selectBooleanButton
						id="isBoss"
						value="#{manageDepartmentHeadshipController.selectedEntity.isBoss}"
						onLabel="Boss"
						offLabel="Underboss"
						style="width:150px"
					/>  
				</h:panelGrid>
			</ui:decorate>
			
			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageDepartmentHeadshipController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{manageDepartmentHeadshipController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{manageDepartmentHeadshipController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{manageDepartmentHeadshipController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{manageDepartmentHeadshipController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
			
		</ui:decorate>	
	</ui:define>
</ui:composition>