<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['appointAcademic.title.appoint']}" rendered="#{(! manageDepartmentParticipationController.readOnly) and (manageDepartmentParticipationController.selectedEntity.id == null)}" />
	</ui:define>
	
	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['appointAcademic.title']}" link="index.xhtml" />
		
		<!-- The form to be filled with information on the Department Headship. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" />
			<ui:param name="formLabel" value="#{msgsAdmin['appointAcademic.form.title']}" />
			<p:focus/>
			
			<!-- Field: academic. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="academic" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.academic']}" />
				<p:autoComplete
					id="academic"
					value="#{manageDepartmentParticipationController.selectedAcademic}"
					completeMethod="#{manageDepartmentParticipationController.completeAcademic}"
					var="academic"
					itemLabel="#{academic.name}"
					itemValue="#{academic}"
					converter="#{manageDepartmentParticipationController.academicConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentParticipationController.readOnly}">
					
					<p:column>
						<h:outputText value="#{academic.name}" />
					</p:column>
					
				</p:autoComplete>
			</ui:decorate>
			
			<!-- Field: specificRole. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="specificRole" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.specificRole']}" />
				<p:inputText id="specificRole" value="#{manageDepartmentParticipationController.selectedEntity.specificRole}" disabled="#{manageDepartmentParticipationController.readOnly}">
					<p:ajax event="blur" update="specificRoleField" />
				</p:inputText>
			</ui:decorate>
			
			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageDepartmentParticipationController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="saveButton" action="#{manageDepartmentParticipationController.saveAppointment}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:commandButton id="cancelButton" action="#{manageDepartmentParticipationController.cancelAppointment}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			
		</ui:decorate>	
	</ui:define>
</ui:composition>