<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['appointAcademic.title.appoint']}" />
	</ui:define>
	
	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['appointAcademic.title']}" link="index.xhtml" />
		
		<!-- Filter bar: used to filter the listing (displayed when there is at least one filter available). -->
		<h:panelGroup id="filterBar" rendered="#{(not empty manageDepartmentParticipationController.filters)}">
			<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
				<ui:param name="formName" value="filterForm" />

				<ui:decorate template="/WEB-INF/templates/formfield-filter.xhtml">
					<p:selectOneMenu id="filter" required="true" value="#{manageDepartmentParticipationController.filterKey}">
						<f:selectItems value="#{manageDepartmentParticipationController.filters}" var="filter" itemLabel="#{filter.label}" itemValue="#{filter.key}" />
						<f:ajax event="change" execute="@form" listener="#{manageDepartmentParticipationController.changeFilter}" render="@form listingForm" />
					</p:selectOneMenu>
					<p:inputText id="filterText" required="false" value="#{manageDepartmentParticipationController.filterParam}" rendered="#{manageDepartmentParticipationController.filter.options == null}"  style="min-width: 400px;"/>
					<p:selectOneMenu id="filterSelect" required="false" value="#{manageDepartmentParticipationController.filterParam}" rendered="#{manageDepartmentParticipationController.filter.options != null}">
						<f:selectItems value="#{manageDepartmentParticipationController.filter.reversedOptionsLabels}" />
					</p:selectOneMenu>
					<p:commandButton action="#{manageDepartmentParticipationController.filter}" value="#{msgs['jbutler.crud.button.filter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-search" />
					<p:commandButton action="#{manageDepartmentParticipationController.cancelFilter}" value="#{msgs['jbutler.crud.button.cancelFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-close" rendered="#{manageDepartmentParticipationController.filtering}" />
					<p:commandButton action="#{manageDepartmentParticipationController.clearFilter}" value="#{msgs['jbutler.crud.button.clearFilter']}" process="@form" update=":listingForm @form" icon="fa fa-fw fa-eraser" rendered="#{not manageDepartmentParticipationController.filtering}" />
				</ui:decorate>
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.filterFocus']}" handler="if (findObjectById('filterForm:filterText') != null) findObjectById('filterForm:filterText').focus(); else findObjectById('filterForm:filterSelect').focus();" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageDepartmentParticipationController.cancelFilter}" process="@form" update=":listingForm @form" rendered="#{manageDepartmentParticipationController.filtering}" />
				<p:hotkey bind="#{msgs['jbutler.crud.hotkey.clearFilter']}" action="#{manageDepartmentParticipationController.clearFilter}" process="@form" update=":listingForm @form" rendered="#{not manageDepartmentParticipationController.filtering}" />
			</ui:decorate>
		</h:panelGroup>
		
		<!-- The listing form. -->
		<ui:decorate template="/WEB-INF/templates/form-nobox.xhtml">
			<ui:param name="formName" value="listingForm" />

			<p:dataTable
				widgetVar="listingTable"
				value="#{manageDepartmentParticipationController.lazyEntities}" 
				var="entity"
				rows="#{manageDepartmentParticipationController.maxDataTableRowsPerPage}" 
				rowsPerPageTemplate="#{manageDepartmentParticipationController.halfMaxDataTableRowsPerPage},#{manageDepartmentParticipationController.maxDataTableRowsPerPage},#{manageDepartmentParticipationController.doubleMaxDataTableRowsPerPage}"
				lazy="true" 
				paginator="true" 
				selection="#{manageDepartmentParticipationController.selectedEntity}" 
				selectionMode="single" 
				paginatorPosition="bottom" 
				loadingMessage="#{msgs['jbutler.text.ajax.loading']}" 
				emptyMessage="#{manageDepartmentParticipationController.filtering ? msgsAdmin['manageDepartmentParticipation.text.noEntitiesFiltered'] : msgsAdmin['manageDepartmentParticipation.text.noEntities']}"
				>

				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.academic']}">
					<h:outputText value="#{entity.academic.name}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.specificRole']}">
					<h:outputText value="#{entity.specificRole}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.beginDate']}">
					<h:outputText value="#{entity.beginDate}"/>
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.endDate']}">
					<h:outputText value="#{entity.endDate}" />
				</p:column>
				
				<p:column headerText="#{msgsAdmin['manageDepartmentParticipation.field.disconnectionReason']}">
					<h:outputText value="#{entity.disconnectionReason}" />
				</p:column>

			</p:dataTable>
			
			<!-- Button shown below the listing. -->
			<h:panelGroup id="buttonsGroup">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton action="#{manageDepartmentParticipationController.appointNew}" value="Appoint New" icon="fa fa-fw fa-plus" update=":listingForm" />
					<p:commandButton action="#{manageDepartmentParticipationController.finishParticipation}" value="Finish Participation" icon="fa fa-fw fa-plus" update="finishGroup" />
				</ui:decorate>
			</h:panelGroup>
			
			<!-- The finish allocation panel: shows entities that have been selected for finishing allocation. -->
			<h:panelGroup id="finishGroup">
				<p:panel id="finishPanel" header="Finalize performance of the following academic:" rendered="#{manageDepartmentParticipationController.finishCan != null}" style="margin-top: 20px">
					<h:outputText value="#{manageDepartmentParticipationController.finishCan.academic}" />
					
					<!-- Field: disconnectionReason. -->
					<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
						<ui:param name="fieldName" value="disconnectionReason" />
						<ui:param name="label" value="#{msgsAdmin['manageDepartmentParticipation.field.disconnectionReason']}" />
						<p:inputText id="disconnectionReason" value="#{manageDepartmentParticipationController.selectedEntity.disconnectionReason}" disabled="#{manageDepartmentParticipationController.readOnly}">
							<p:ajax event="blur" update="disconnectionReasonField" />
						</p:inputText>
					</ui:decorate>
					
					<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
						<p:commandButton
							action="#{manageDepartmentParticipationController.setEndDate}"
							value="Confirm"
							icon="fa fa-fw"
							process="@this"
							update=":messages :info-messages :listingForm"
						/>
						<p:commandButton
							action="#{manageDepartmentParticipationController.cancelFinishParticipation}"
							value="Cancel"
							icon="fa fa-fw fa-close"
							process="@this"
							update="finishGroup"
						/>
					</ui:decorate>
				</p:panel>
			</h:panelGroup>
		</ui:decorate>
	</ui:define>
</ui:composition>