<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['manageDepartment.title.create']}" rendered="#{(! manageDepartmentController.readOnly) and (manageDepartmentController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartment.title.update']}" rendered="#{(! manageDepartmentController.readOnly) and (manageDepartmentController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartment.title.retrieve']}" rendered="#{manageDepartmentController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['manageDepartment.title.create.description']}" rendered="#{(! manageDepartmentController.readOnly) and (manageDepartmentController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartment.title.update.description']}" rendered="#{(! manageDepartmentController.readOnly) and (manageDepartmentController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['manageDepartment.title.retrieve.description']}" rendered="#{manageDepartmentController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['manageDepartment.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the Department. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['manageDepartment.form.title']}" />
			<p:focus />

			<!-- Field: name. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartment.field.name']}" />
				<p:inputText id="name"
					value="#{manageDepartmentController.selectedEntity.name}"
					required="true"
					disabled="#{manageDepartmentController.readOnly}">
				</p:inputText>
			</ui:decorate>
			
			<!-- Field: faculty.-->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="faculty" />
				<ui:param name="label" value="#{msgsAdmin['manageDepartment.field.faculty']}" />
				<p:autoComplete
					id="faculty"
					value="#{manageDepartmentController.selectedFaculty}"
					completeMethod="#{manageDepartmentController.completeFaculty}"
					var="faculty"
					itemLabel="#{faculty.name}"
					itemValue="#{faculty}"
					converter="#{manageDepartmentController.facultyConverter}"
					forceSelection="true"
					disabled="#{manageDepartmentController.readOnly}">
					<p:column>
						<h:outputText value="#{faculty.name}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! manageDepartmentController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{manageDepartmentController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{manageDepartmentController.save}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{manageDepartmentController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{manageDepartmentController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>